body{
    margin: 0px;
    padding: 0px;
    background-image: url(./images/image1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Source Sans 3', sans-serif;
}
#navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
#navbar #left h1{
    margin: 0px;
    font-size: 15px;
}
#navbar #right ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
}
#navbar #right ul li button{
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid darkgray;
    width: 93px;
    height: 38px;
}
#navbar #left h1 span{
    font-weight: 100;

}
#body{
    text-align: center;
    margin-top: 88px;
    color: white;

}
#body h1{
    
    font-size: 56px;
    margin-bottom: 0px;

}
#body p{
    font-size: 20px;
    margin-bottom: 40px;
}
#body button{
    color: gray;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    border: none;
    margin-right: 20px;
    font-size: 20px;  

}
#body #blur{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
/* -------------------intro begins-------------- */
#intro{
    background-color: white;
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 150px ;
}
#intro h1{
    font-size: 35px;
}
#intro p{
    border-top: 2px solid #e5e5e5;
    width: 60%;
    margin: auto;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#intro img{
    width: 100%;
}
/* ------------------signup section--------------------- */
#signup{
    text-align: center;
    background-color:#e89980;
    height: 280px;
    top: 10px;
    padding-top: 42px;
    padding-bottom: 20px;
    /* margin-top: 100px; */

}
#signup h1{
    color: white;
    font-size: 37px;
    font-weight: 300 ;
}
#signup p{
    color: white;
    font-size: 20px;
}
#signup input{
    background-color: #eba893;
    border-radius: 2px;
    height: 48px;
    width: 260px;
    border: 1px solid #eba893 ;
    border-radius: 5px;
    margin-right: 15px;
}
#signup input::placeholder{
    color: white;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 100;
}
#signup button{
    color: #e89980;
    background-color: white;
    height: 50px;
    width: 140px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 100;

}
/* -------------------social section------------------ */
#social{
    background-color: white;
    height: 210px;
}
#social #top{
    text-align: center;
    margin-top: 65px;
}
#social i{
    text-align: center;
    justify-content: center;
    list-style-type: none;
    color: #c6c6c6;
    margin-right: 20px;
    font-size: 30px;
}
#social #bottom{
    padding-top: 20px;
    text-align: center;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    color: #c6c6c6;
    gap: 20px;

}
#social #bottom #b1{
    margin-left: 484px;
}
#social #bottom #b2{
    position: sticky;

}
#social #bottom #b3{
    margin-right: 516px;

}
#social #bottom span{
    border-bottom: 1px dotted #c6c6c6;
}
#social #bottom #b1 #s1{
    padding-left: 0px;
}
#social #bottom #b2 #s2{
    padding-left: 0px;
}
/* ------------------------section icon begins------------ */
#icon{
    background-color: white;
    width: 70%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 150px ;
    
}
#icon #top{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 150px;
    padding-bottom: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    
}
#icon #bottom{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    gap: 150px;
    position: relative;
    bottom: 0px;
    right: 0px;
    
}
/* .verticalLine{
    border-left: 1px solid black;
    height: 500px;
    margin-left: 50%;
    position: relative;
}
#hrLine{
    border-bottom: 1px solid black;
    height: 250px;
    margin-bottom: 50%;
    position: absolute;
} */
#icon #top #t1 #i1{
    font-size: 45px;

}
#icon #top #t1 #b1{
    height: 100px;
    width: 100px;
    border: 1px solid #e89980;
    border-radius: 100%;
    background-color: #e89980;
    color: white;
}
#icon #top #t2 #i2{

    font-size: 40px;
}
#icon #top #t2 #b2{
    height: 100px;
    width: 100px;
    border: 1px solid #7fcdb8;
    border-radius: 100%;
    background-color: #7fcdb8;
    color: white;
}
#icon #bottom #t3 #i3{
    font-size: 55px;
}
#icon #bottom #t3 #b3{
    height: 100px;
    width: 100px;
    border: 1px solid #90b0ba;
    border-radius: 100%;
    background-color: #90b0ba;
    color: white;
}
#icon #bottom #t4 #i4{
    font-size: 50px;
}
#icon #bottom #t4 #b4{
    height: 100px;
    width: 100px;
    border: 1px solid #e5cb95;
    border-radius: 100%;
    background-color: #e5cb95;
    color: white;
}
#icon #top #t1 #h1{
    font-size: 30px;
    color: #6e748d;
    font-weight: 100;
    padding-top: 10px;
}
#icon #top #t2 #h2{
    font-size: 30px;
    color: #6e748d;
    font-weight: 100;
    padding-top: 10px;
}
#icon #bottom #t3 #h3{
    font-size: 30px;
    color: #6e748d;
    font-weight: 100;
    padding-top: 10px;
}
#icon #bottom #t4 #h4{
    font-size: 30px;
    color: #6e748d;
    font-weight: 100;
    padding-top: 10px;
}
#icon #top #t1 p{
    font-size: 17px;
   font-weight: 100;
}
#icon #top #t2 p{
    font-size: 17px;
   font-weight: 100;
}
#icon #bottom #t3 p{
    font-size: 17px;
   font-weight: 100;
}
#icon #bottom #t4 p{
    font-size: 17px;
   font-weight: 100;
}
#t1{
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
}
#t4{
    border-left: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
}
/* ------------------card section begins------------ */
#cards{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
    height: 100vh;
}
#card{
    display: flex;
    justify-content: center;
    gap: 35px;
    /* height: 90vh; */
}
#card div{
    width: 32%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    margin-top: 50px;
    /* box-shadow: 5px 5px 5px white; */
}
#card div img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}
#card div h1{
    text-align: center;
    font-size: 24px;
    color: #7f9bb9;
}
#card div p{
    text-align: center;
    font-size: 18px;
}
#card div button{
    text-align: center;
    margin-left: 185px;
    margin-top: 20px;
    margin-bottom: 48px;
    border: 2px solid gainsboro;
    border-radius: 7px;
    height: 50px;
    width: 140px;
    color: grey;
    background-color: white;
    font-size: 16px;
}
#fullbody{
    background-color:  #f5f5f5;
}


